<div class="navbar">
    <div class="navbar-container">
        <p class="navbar-title">Dashboard</p>
        <hr class="navbar-hr">
        <p class="navbar-text">Talaba</p>
        <a href="#" class="navbar-link">Fan tanlov</a>
        <a href="#" class="navbar-link">Mening fanlarim</a>
        <a href="#" class="navbar-link">Dars jadvali</a>
        <a href="#" class="navbar-link">Qayta o'qish</a>
        <a href="#" class="navbar-link">Yakuniy</a>
        <a href="#" class="navbar-link">Individual shaxsiy reja</a>
        <a href="#" class="navbar-link">Ma'lumot</a>
        <a href="#" class="navbar-link">So'rovnoma</a>
        <a href="#" class="navbar-link">Diplom ishi</a>
    </div>
</div>